@import '../../../assets/styles/variables.scss';

.bagLink {
	position: fixed;
	z-index: 1;
}

.content {
	width: 100px;
	height: 50px;
	margin-left: auto;
	background-color: $main;
	border-radius: 5px 0 0 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 18px;
}

.count {
	font-size: 38px;
	color: #fff;
}

.logo {
	font-size: 30px;
	padding-top: 4px;
	color: $title;
	padding-top: 6px;
	transition: color 0.3s linear;

	&:hover {
		color: $background2;
	}

	@media (max-width: 760px) {
		&:hover {
			color: #fff;
		}
	}
}
