@import '../../../assets/styles/variables.scss';

.team {
	width: 100%;
	background-color: #1a1718;
	margin-top: 160px;
	padding-top: 100px;
	padding-bottom: 100px;

	@media (max-width: 760px) {
		& {
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}
}

.title {
	width: 100%;
	display: flex;
	justify-content: space-evenly;

	.line {
		width: 100%;
		background-color: $main;
		margin: auto 0;
		height: 1px;
		border: none;
	}

	h2 {
		font-size: 24px;
		font-weight: 400;
		color: $text;
		text-transform: uppercase;
		font-family: 'Roboto', sans-serif;
		margin: 0 20px;
	}
}

.players {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 70px;

	@media (max-width: 575px) {
		& {
			justify-content: center;
		}
	}
}

.player {
	width: 266px;
	padding: 10px;
	margin-bottom: 40px;

	.image {
		width: 160px;
		height: 160px;
		background-size: cover;
		background-repeat: no-repeat;
		margin: 0 auto;
	}

	h4 {
		font-size: 26px;
		color: $title;
		font-weight: 300;
		width: 80%;
		margin: 0 auto;
		text-align: center;
		line-height: 1;
		padding-top: 10px;
	}

	p {
		text-align: center;
		font-size: 17px;
		color: $main;
		padding-top: 10px;
		font-weight: 200;
		font-family: serif;
	}
}
