@import '../../../assets/styles/variables.scss';

.products {
	width: 100%;
	margin-top: 160px;

	@media (max-width: 760px) {
		& {
			margin-top: 100px;
		}
	}
}

.logo {
	/* background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Ruby_logo.svg/198px-Ruby_logo.svg.png?20101129171534');
	background-size: cover;
	background-repeat: no-repeat; */
	/* width: 190px;
	height: 118px; */
	margin: 0 auto;
	text-align: center;
	color: $main;
	font-size: 100px;
	/* background-color: $main; */
}

.title {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 0px;

	.line {
		width: 100%;
		background-color: $main;
		margin: auto 0;
		height: 1px;
		border: none;
	}

	h2 {
		font-size: 24px;
		font-weight: 400;
		text-transform: uppercase;
		font-family: 'Roboto', sans-serif;
		margin: 0 20px;
		color: $title;
	}
}

.category {
	font-size: 60px;
	color: $title;
	text-align: center;
	margin-top: 70px;
	text-transform: capitalize;
}

.listProducts {
	margin-top: 30px;
}

.section {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	@media (max-width: 760px) {
		& {
			justify-content: center;
		}
	}
}
